
$blue: white;
$work: white; //work

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);
$card-hover: hsl(236, 41%, 34%);

$height: 30 / 16 * 1em;
$width: 72 / 16 * 1em;

$color-white: #fefefe;
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-peter-river: #3498db;

$transition-default: 0.25s ease-out 0.10s;
